{% extends 'layout.html.twig' %}

{% block title %}
    Mes commande
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <h1 class="title-h1"><span>Mes commande</span></h1>
            <div class="col-sm-3">
                {% include('member/components/_sidebar.html.twig') %}
            </div>
            <div class="col-sm-9">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if orders is not empty %}
                    {{ dump(orders) }}
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Numéro de commande</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Payer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.price }} €</td>
                                    {% if order.payer == 1  %}
                                        <td style="color: green"><i class="fas fa-check"></i></td>
                                    {% else %}
                                        <td style="color: darkred"><i class="fas fa-check"></i></td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info">
                        Aucune commande trouvée.
                    </div>
                {% endif %}


            </div>
        </div>
    </section>
{% endblock %}