{%  extends 'layout.paiement.html.twig' %}

{% block title %}
    Paiement sécurisé
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="paiement">
                <div class="logo-paiement">
                    <i class="fas fa-lock"></i>
                    <p>STRIPE</p>
                </div>
                <form method="post" id="payment-form">
                    <div class="form-row">
                        <label for="card-element" class="payment-label">
                            Carte de crédit ou de débit
                        </label>
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert"></div>
                    </div>

                    <button class="btn btn-default btn-paiement"><i class="fas fa-lock"></i> Payer</button>
                </form>
                <a class="btn btn-default" href="{{ path('page_panier') }}"><i class="fas fa-long-arrow-alt-left"></i> Retour au panier</a>
            </div>
        </div>
    </section>
{% endblock %}