{%  extends 'layout.html.twig' %}

{% block title %}
    Changement mot de passe
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <h1 class="title-h1"><span>Changer votre mot de passe</span></h1>
            <div class="col-sm-3">
                {% include('member/components/_sidebar.html.twig') %}
            </div>
            <div class="col-sm-9">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}