{% extends 'layout.html.twig' %}

{% block title %}
    Mentions légales
{% endblock %}

{% block content %}
    <section class="text-justify">
        <div class="container">
            <h1 class="title-h1">Livraison</h1>
            <h4>Frais de livraison</h4>
            <p>
                Les frais de livraison ne sont pas inclus dans le prix des produits. Ils s'ajoutent au prix total du
                panier lors du processus d'achat. Le montant des frais de livraison peuvent varier en fonction du pays
                du destinataire et de la date d'envoi sélectionnée.
            </p>
            <h4>Horaires de livraison</h4>
            <p>
                Nous en pouvons garantir l'heure de livraison exacte car nous dépendons des horaires d'ouverture des
                fleuristes locaux et des partenaires logistiques avec lesquels nous travaillons actuellement.
                <br>
                En fonction de la date et du pays de livraison, il sera possible dans certains cas de choisir entre une
                livraison le matin ou l'après-midi.
            </p>
            <h4>
                Retard lors de la livraison
            </h4>
            <p>
                Si nous n’avons pas pu effectuer la livraison à la date prévue pour un motif qui relève de notre
                responsabilité, vous êtes en droit d’exiger le remboursement du bouquet, mais dans aucun cas nous allons
                vous rembourser les produits additionnels.
                <br>
                Par contre, si nous n’avons pas pu effectuer la livraison à la date prévue pour un motif qui ne relève
                pas de notre responsabilité (par exemple : absence du destinataire ou une adresse erronée), nous ne
                procéderons pas au remboursement. Mais ne vous inquiétez pas, nous laisserons un avis de passage au
                destinataire qui pourra nous rappeler pour fixer une nouvelle date de livraison.
            </p>
            <h4>
                Livraisons refusées par le destinataire
            </h4>
            <p>
                Si le destinataire refuse d’accepter la livraison, nous ne pourrons pas procéder au remboursement de la
                commande.
            </p>
            <h4>
                Démarche Qualité
            </h4>
            <p>
                Nous faisons de notre mieux pour créer des commandes aussi proches que possible des
                photos et des descriptions du produit. Même si des modifications mineures sont parfois nécessaires,
                l’idée générale et la qualité seront toujours respectées.
                <br>
                Les images que nous utilisons pour présenter nos produits complémentaires sont une représentation de
                ceux-ci et ne représentent aucune marque en particulier.
            </p>
            <h4>Réclamations et remboursement</h4>
            <p>
                Si vous n’êtes pas satisfait de votre commande, vous pouvez demander son remboursement en nous envoyant
                une réclamation dans les deux jours ouvrables suivant la date de livraison. Veuillez nous envoyer votre
                réclamation avec vos coordonnées.
            </p>
            <h4>Problème dans la gestion du paiement</h4>
            <p>
                Si les informations de paiement que vous nous fournissez sont erronées ou que votre carte de crédit est
                non valide, nous ne pourrons pas procéder au paiement.
                <br>
                Nous essayerons de vous contacter pour essayer de trouver une solution mais nous ne pourrons pas être
                tenus pour responsables des conséquences liées à ces manquements.
            </p>
        </div>
    </section>
{% endblock %}