<div class="left-sidebar">
    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="{{ path('membre_dashboard') }}">Tableau de bord</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="{{ path('membre_profil') }}">Profil</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Mes commandes</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#{#{ path('membre_password') }#}">Changer mot de passe</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" >
                    <a id="supprime-compte-pet" href="{{ path('membre_delete') }}" class="red">
                        Supprimer mon compte
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
