{%  extends 'layout.admin.html.twig' %}

{% block title %}
    Dashboard - Pet-shop
{% endblock %}

{% block content %}
    <div class="wrapper ">
        {% include 'admin/dashboard/components/_navbar.admin.html.twig' %}
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent bg-primary header-pet">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler btn-toggler-dashboad">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <h1 class="title-h1">Dashboard</h1>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <section>
                <div class="container">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nom</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for c in categories %}
                                <tr>
                                    <td scope="col">{{ c.id }}</td>
                                    <td scope="col">{{ c.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}