{%  extends 'layout.admin.html.twig' %}

{% block title %}
    Dashboard - Pet-shop
{% endblock %}

{% block content %}
    <div class="wrapper ">
        {% include 'admin/dashboard/components/_navbar.admin.html.twig' %}
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <h1 class="title-h1">Dashboard</h1>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header mb-50">
            </div>
            <div class="content">
                <div class="row">



                </div>
            </div>
        </div>
    </div>
{% endblock %}