<footer id="footer"><!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Nos politiques</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="{{ path('livraison') }}">Livraison</a></li>
                            <li><a href="{{ path('retour') }}">Retour</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Infos pratiques</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="{{ path('mentions_legales') }}">Mentions légales</a></li>
                            <li><a href="{{ path('cgv') }}">Conditions générales de vente</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Pet-Shop</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>17 Rue Albert Thomas</li>
                            <li>78130 Les Mureaux</li>
                            <li>info@pet-shop.com</li>
                            <li>01.39.07.76.23</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-pet">
                <div class="row">
                    <p class="pull-left">Pet Shop © 2019 - Tous droits réservés.</p>
                    <p class="pull-right">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-snapchat-square"></i>
                        <i class="fab fa-instagram"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer><!--/Footer-->