{%  extends 'layout.admin.html.twig' %}

{% block title %}
    Administration - Ajouter une catégorie
{% endblock %}

{% block content %}
    <div class="wrapper ">
        {% include 'admin/dashboard/components/_navbar.admin.html.twig' %}
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent bg-primary header-pet">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler btn-toggler-dashboad">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <h1 class="title-h1">Ajouter une catégorie</h1>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            {% for message in app.flashes('add') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <section>
                <div class="container">
                    {{ form_start(form) }}
                        {{ form_row(form.name) }}
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}